<p id="notice"><%= notice %></p>

<h1>Listing Datasources</h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Datasourcetype</th>
      <th>Datadescriptor</th>
      <th>Metadata</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datasources.each do |datasource| %>
      <tr>
        <td><%= datasource.identifier %></td>
        <td><%= datasource.datasourcetype %></td>
        <td><%= datasource.datadescriptor %></td>
        <td><%= datasource.metadata %></td>
        <td><%= link_to 'Show', datasource %></td>
        <td><%= link_to 'Edit', edit_datasource_path(datasource) %></td>
        <td><%= link_to 'Destroy', datasource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datasource', new_datasource_path %>
