<p id="notice"><%= notice %></p>

<h1>Listing M Cerebrum Platform Apps</h1>

<table>
  <thead>
    <tr>
      <th>Platformapptype</th>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_cerebrum_platform_apps.each do |m_cerebrum_platform_app| %>
      <tr>
        <td><%= m_cerebrum_platform_app.platformapptype %></td>
        <td><%= m_cerebrum_platform_app.identifier %></td>
        <td><%= link_to 'Show', m_cerebrum_platform_app %></td>
        <td><%= link_to 'Edit', edit_m_cerebrum_platform_app_path(m_cerebrum_platform_app) %></td>
        <td><%= link_to 'Destroy', m_cerebrum_platform_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M cerebrum platform app', new_m_cerebrum_platform_app_path %>
