<p id="notice"><%= notice %></p>

<p>
  <strong>Platformapptype:</strong>
  <%= @m_cerebrum_platform_app.platformapptype %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @m_cerebrum_platform_app.identifier %>
</p>

<%= link_to 'Edit', edit_m_cerebrum_platform_app_path(@m_cerebrum_platform_app) %> |
<%= link_to 'Back', m_cerebrum_platform_apps_path %>
