<p id="notice"><%= notice %></p>

<h1>Listing M Cerebrum Applications</h1>

<table>
  <thead>
    <tr>
      <th>Apptype</th>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_cerebrum_applications.each do |m_cerebrum_application| %>
      <tr>
        <td><%= m_cerebrum_application.apptype %></td>
        <td><%= m_cerebrum_application.identifier %></td>
        <td><%= link_to 'Show', m_cerebrum_application %></td>
        <td><%= link_to 'Edit', edit_m_cerebrum_application_path(m_cerebrum_application) %></td>
        <td><%= link_to 'Destroy', m_cerebrum_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M cerebrum application', new_m_cerebrum_application_path %>
