<p id="notice"><%= notice %></p>

<p>
  <strong>Apptype:</strong>
  <%= @m_cerebrum_application.apptype %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @m_cerebrum_application.identifier %>
</p>

<%= link_to 'Edit', edit_m_cerebrum_application_path(@m_cerebrum_application) %> |
<%= link_to 'Back', m_cerebrum_applications_path %>
